@charset "utf=8";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-image: url(../img/blackpurple.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center;
    font-family: math;
    font-style: italic;
    padding: 20px 0;
    background-color: #0d0053c7;
    color: white;
}

p, header h1, h3, h4 {
    color: white;
}

h3, h4 {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

article div {
    background: #002069a1;
    padding: 20px;
    width: 500px;
    height: auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #002069cc;
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-style: italic;
}

button:hover {
    background-color: #7857f7;
}

/* Media Queries */
@media (max-width: 1055px) {
    article div {
        flex: 1 1 calc(50% - 20px);
    }
}
@media (max-width: 768px) {
    article div {
        flex: 1 1 calc(30% - 10px);
    }
    article {
        padding: 10px;
    }
}
@media (max-width: 698px) {
    article div {
        flex: 1 1 40%;
    }
}
@media (max-width: 465px) {
    article div {
        flex: 1 1 50%;
    }
    header h1 {
        font-size: larger;
    }
}